@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.file-upload {
  margin: 0 auto;
    padding: 13% 3%;
border-radius: 10px;
border: solid 1.5px #f6f7fa;
background-color: #f8f7f3;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 57%;
    margin: 0 auto;
  border: 4px dashed #1FB264;
  position: relative;
    object-fit: contain;
border-radius: 10px;
border: dashed 1.5px #35465d;
background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #35465d82;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
}

.upload-text {
    width: 65%;
font-family: 'Cute Font', cursive;
font-size: 1.9rem;
line-height: 1.53;
text-align: center;
color: #35465d;
    margin: 0 auto;
}

.file-upload-image {
  max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background-color: #35465d;
  border: solid 1.5px #35465d;
  padding: 10px;
  border-radius: 40px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
     font-family: 'Jua', sans-serif;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
    font-family: 'Jua', sans-serif;
   line-height: 1.68;
    text-align: left;
    color: #35465d;
    font-size: 2rem;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 100px;
}

.title{
    font-family: 'Jua', sans-serif;
   line-height: 1.64;
    text-align: center;
    color: #5386ad;
    font-size: 2.5rem;
}

.subtitle{
   font-family: 'Jua', sans-serif;
    line-height: 1.53;
    text-align: center;
    color: #5386ad;
    font-size: 2rem;
}
.text-center {
    font-family: 'Jua', sans-serif; 
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
.result-message{
    font-size: 2.0rem;
    font-family: 'Jua', sans-serif; 
line-height: 1.53; 
text-align: center; 
color: #212529;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.modal-body{
    font-family: 'jua', sans-serif;
    font-size: 1.5rem;
}
.zlzldnjs{
    font-size: 1.5rem;
    font-family: 'jua', sans-serif;
   color: #146640;
    
}